.experiences-list-box{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1393px;
   padding: 14px 70px 70px 70px;
   margin: auto;
}

.experiences-list-card {
   width: 328px;
   height: 284px;
   border-radius: inherit;
   background: #F5F5F5;
}

.experiences-list-card-up{
   height: 170px;
   padding: 8px;
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
   border-top-left-radius: inherit;
   border-top-right-radius: inherit;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.experiences-list-card-sport{
   font-weight: 400;
   font-size: 13.33px;
   line-height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FFFFFF;
   width: 110px;
   height: 48px;
   background: rgba(29, 29, 29, 0.5);
   border-radius: 5px;
   align-self: flex-end;
}

.experiences-list-card-user-img{
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
}
